*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: orange;
}

.header-section {
    margin-bottom: 20px;
    color: aliceblue;
}

h2 {
    height: 80px;
    margin-bottom: 20px;
}

.col {
    margin-bottom: 60px;
}

.q1 {
  margin-left: 5px;
}

.n1 {
    margin-left: 5px;
    color: green;
}

.q2 {
    margin-left: 5px;
  }
  
  .n2 {
      margin-left: 5px;
      color: orange
  }

  .q3 {
    margin-left: 5px;
  }
  
  .n3 {
      margin-left: 5px;
      color: red
  }

img {
    height: 170px;
}